<h1 class= "display-4"><%= @title %></h1>
<p><%= @msg %></p>
<%= form_tag(controller: "hello", action: "index") do %>
  <%= radio_button_tag("rl", "radio 1") %>
  <%= label_tag("rl_radio_1", "Radio Button 1") %><br>
  <%= radio_button_tag("rl", "radio 2") %>
  <%= label_tag("rl_radio_2", "Radio Button 2") %><br>
  <%= submit_tag("Click") %>
  <% end %>
